html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #A7E6FF;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.screen {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 10px;
    background-color: #F0F0F0;
    border: 8px solid #FFF6E9;
    padding-left: 5px;
    padding-right: 5px;
}

.screen .previous-expression {
    flex: 1;
    width: 100%;
    color:darkolivegreen;
    font-size: 1.5em;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.screen .output {
    width: 100%;
    font-size: 2em;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.controller {
    display: flex;
    flex-direction: column;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    gap: 10px;
}

.buttons-row button {
    flex: 1;
    height: 50px;
    font-size: 1.8em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons-row button:active {
    transform: scale(0.95);
}

.number {
    background-color: #FFE9D0;
}

.operator,
.equal-sign {
    background-color: #FBFFDC;
}

.ac,
.del {
    background-color: #F3E0B5;
}
